@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Source+Code+Pro:wght@300;400;500;600;700;800&display=swap');


:root {
    --main-color: #1A1B41;
    --secondary-color: #F1FFE7;
    --seconday-darker-color: #C2E7DA;
    --lime-color: #BAFF29;
    --blue-color: #6290C3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: var(--main-color);
    font-family: 'Montserrat';
}

.callToAction-text{
    color: var(--lime-color);
    text-transform: capitalize;
}
.callToAction-link{
    border-bottom: 1px solid white;
    padding-bottom: .2rem;
}
.callToAction-link:hover{
    cursor: pointer;
}